<script setup>
import usePayments from '../../composables/payment'
import { onMounted, ref } from 'vue'

const { payments, getPayments, storePayment } = usePayments()

onMounted(() => getPayments())

const data = ref(payments)
const message = ref('')

const addEmpolyeeRow = () => {
  data.value.payment_details.push({ employee: '', bonus_percentage: 0 })
}

const removeEmployee = (index) => {
  data.value.payment_details.splice(index, 1)
}

const handleSave = async () => {
  const response = await storePayment(data.value)
  message.value = response?.data?.message
}
</script>
<template>
  <div class="flex gap-5">
    <div class="w-[50%] mx-auto px-6 pt-6 bg-white border border-gray-200 rounded-lg shadow-md">
      <div class="mb-5 text-center border-b border-slate-300">
        <span class="text-xl font-semibold">Pembayaran Bonus Karyawan</span>
      </div>
      <div v-if="message" class="text-center mb-3 bg-red-500 text-white py-1 rounded-lg">
        <span>{{ message }}</span>
      </div>
      <div class="mb-5">
        <label>Pembayaran</label>
        <input type="number" v-model="data.amount" />
      </div>
      <div class="mb-5">
        <label>Karyawan</label>
        <div v-for="(payment, index) in data.payment_details" class="flex gap-3 mb-3">
          <input name="employee" type="text" placeholder="Nama" v-model="payment.employee" />
          <input
            name="bonus_percentage"
            type="number"
            placeholder="Persentase"
            v-model="payment.bonus_percentage"
            class="w-[30%]"
          />
          <span class="self-center">%</span>
          <button @click="() => removeEmployee(index)" class="bg-red-500 hover:bg-red-600">
            🗑️
          </button>
        </div>

        <button
          @click="addEmpolyeeRow"
          class="w-[61%] mb-5 border border-indigo-500 hover:bg-indigo-600 hover:text-white"
        >
          Tambah Karyawan
        </button>
        <button
          :disabled="
            data?.payment_details?.length < 3 ||
            !data.amount ||
            data.payment_details.find(
              ({ employee, bonus_percentage }) => !employee || !bonus_percentage
            )
          "
          @click="handleSave"
          class="w-full bg-blue-500 hover:bg-blue-600 text-white"
        >
          Simpan
        </button>
      </div>
    </div>
    <div
      class="w-[50%] h-fit mx-auto px-6 pt-6 bg-white border border-gray-200 rounded-lg shadow-md"
    >
      <div class="mb-5 text-center border-b border-slate-300">
        <span class="text-xl font-semibold">List Bonus Karyawan</span>
      </div>
      <div class="mb-5">
        <label>Karyawan</label>
        <div
          v-for="(payment, index) in data.payment_details"
          class="flex justify-between gap-3 mb-3"
        >
          <span>{{ payment?.employee }}</span>
          <span v-if="payment.bonus_percentage" class="self-center"
            >Rp. {{ payment?.bonus_amount }}</span
          >
        </div>
      </div>
    </div>
  </div>
</template>
