@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  label {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
  }

  input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }

  button {
    @apply p-1 rounded-lg self-center duration-500 hover:shadow-xl hover:-translate-y-1 disabled:cursor-not-allowed disabled:opacity-60;
  }
}
