<script setup>
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <header>
    <!-- <div class="w-[50%] mx-auto">

      <nav class="flex gap-5">
        <RouterLink to="/" class="px-3 py-1 bg-blue-500 hover:bg-blue-600 rounded-lg text-white">Home</RouterLink>
        <RouterLink to="/about" class="px-3 py-1 bg-blue-500 hover:bg-blue-600 rounded-lg text-white">About</RouterLink>
      </nav>
    </div> -->
  </header>

  <div class="w-[70%] mx-auto">
    <RouterView />
  </div>
</template>
